# Working with a database

This week's assignment has a few basic steps.  First, we're going to pull some data down off the internet and store it into our MySQL database.  Make sure that you use your username as part of the table name as show in the examples so that you don't create a problem for other students.

Then, we'll merge that with some data already in the database and calculate a few results.  When it comes to calculating the results, you can do so either with SQL or with Pandas operations.

## PART 1: Setup your database connection and table name

In the code below, change the value of the variable `MYTABLE` to use your own username rather that `'pboal'`

You can then use `MYTABLE` in the rest of your code to reference that table name.

In [2]:
import os
import pymysql
from sqlalchemy import create_engine
import csv
import pandas as pd
import mysql.connector

MYTABLE='ebertlb' + '_data'

host = 'slucor2020.cgdcoitnku0k.us-east-1.rds.amazonaws.com'
port = '3306'
user = 'slucor2020'
password = 'SLUcor2020'
database = 'hds5210'

conn = create_engine('mysql+pymysql://' + 
                     user + 'ebertlb' + 
                     password + 'SLUcor2020' + 
                     host + 'slucor2020.cgdcoitnku0k.us-east-1.rds.amazonaws.com' + 
                     database, echo=False)
conn=mysql.connector.connect(
    host="slucor2020.cgdcoitnku0k.us-east-1.rds.amazonaws.com",
    port="3306",
    user="slucor2020",
    passwd="SLUcor2020",
    database="hds5210"
)

print(conn)

if(conn):
    print("Connection succesfull")
else:
    print("Connection failed")

conn = None

<mysql.connector.connection.MySQLConnection object at 0x7f5b58157c18>
Connection succesfull

In [40]:
assert(MYTABLE != 'ebertlb_data')
assert(conn.connect())

AssertionError:

## PART 2: Bring in outside data

Grab the data from this URL and put it into a database table named with your `username_data`.

http://dhcs-chhsagency.opendata.arcgis.com/datasets/8e4f3a0c75b9424d888d11c1f949cc32_0.csv

By the end of your cell, the table should be created.  The tests are going to verify that the table exists and looks right.

In [42]:
url = 'http://dhcs-chhsagency.opendata.arcgis.com/datasets/8e4f3a0c75b9424d888d11c1f949cc32_0.csv'


for ebertlb in result:
  print(ebertlb)

NameError: name 'result' is not defined

In [ ]:
dxyz = pd.read_sql_query('SELECT * FROM ' + MYTABLE, conn)
assert(dxyz.shape == (328,22))
assert(list(dxyz.columns) == ['index', 'X', 'Y', 'Provider_Name', 'NPI', 'CCN',
       'Medicaid_EP_Hospital_Type', 'Street_Address', 'City', 'County',
       'State', 'Zip_Code', 'Payment_Year_Number', 'Program_Type',
       'Total_payments', 'Last_Program_Year', 'Last_Payment_Year',
       'Last_Payment_Criteria', 'Most_Recent_Disbursement_Amount', 'LONGITUDE',
       'LATITUDE', 'FID'])

## PART 3: Combine with other data in the database

In the database, there is an existing table called `population`.  We want to merge the DHCS datafile loaded above with the population data available in this other database table  The tables can be merged on `MYTABLE`'s `Zip_Code` field and `population`'s `zipcode` field.

Note that not all `Zip_Codes` from your downloaded file have to be in the `population` table.  If they aren't, then I want you to eliminate the non-matching records.  That is, only keep the records that have a matching ZIP code in both sets of data.

Answer the question:
Which providers are located in the zipcode with the largest population?

Put your answer in the form `answer = ['a', 'list', 'of', 'NPI', 'like', '1593042103]`

In [44]:
answer = pd.read_sql_query('SELECT * FROM ' + MYTABLE, conn)

answer = []
data = [
    ['Index',16,],
    ['Provider_Name',221],
    ['zipcode',245],
    ['LONGITUDE', 1194016923]
]
df = pd.DataFrame(data, answer=answer)

AttributeError: 'NoneType' object has no attribute 'cursor'

In [ ]:
assert(type(answer) == list)
assert(answer == ['1194016923'])

## PART 4: Total by hospital type

This is a multistep process:
* From our downloaded data file, compute the `Total payments` per ZIP code and Medicaid EP Hospital Type.
* Then merge that with the `population` data to compute a `Total payments` per person.
* Then average that across all of the `Medicaid EP Hospital Types` to get an average per persona payment for these type of hospital.

Your answer should be in structure of a data frame with at least two columns:
* Medicaid_EP_Hospital_Type
* Avg_Pay_per_Capita

In [1]:
answer=pd.read_sql_query("""
  SELECT 
    h.*, v.year, 
    CASE WHEN Total payments ELSE NULL END as per person,
    CASE WHEN hospital_services THEN Medicaid_EP_Hospital_Type ELSE NULL END as Acute Care Hospitals
  FROM 
    population,
    hospital_services
  WHERE
    Medicaid_EP_Hospital_Type per person,
    Avg_Pay_per_Capita
""", conn)

answer = None

NameError: name 'pd' is not defined

In [ ]:
assert(type(answer) == pd.core.frame.DataFrame)
assert(round(answer.query("Medicaid_EP_Hospital_Type == 'Acute Care Hospitals'")['Avg_Pay_per_Capita'].sum(),3) == 17974.363)
assert(round(answer.query("Medicaid_EP_Hospital_Type == 'Children\\'s Hospitals'")['Avg_Pay_per_Capita'].sum(),3) == 111.559)