# Week 7 Assignment

This week has been all about getting information off the internet both in structured data formats (CSV, JSON, etc) as well as HTML.  Answer the questions below as instructed.

### 31.1 Finding files on the internet

Go to healthdata.gov and find a file that looks interesting to you.  Provide the metadata below that describes the file you located.

The cell below is a "markdown" cell.  Just double-click it to edit the contents and then Shift-Enter to show the content as formatted text.

---

**File Name:** Donate Life Organ and Tissue Donor Registry Enrollment by County: Beginning September 2008

**URL to Page:** https://healthdata.gov/dataset/donate-life-organ-and-tissue-donor-registry-enrollment-county-beginning-september-2008

**Description:** I am a huge supporter of organ donation. I have been interested in this because a family member of mine has recieved an organ transplantation in the past and I love the idea of being an organ donor myself. This specific data set is the registered organ donors by county in New York.

**URL to Actual File:** https://health.data.ny.gov/api/views/sqk8-8a2h/rows.csv?accessType=DOWNLOAD

**File Format:** CSV

---

### 31.2 Use Pandas to load data from internet

Now write a block of code (doesn't need to be in a function) that will load the file using Pandas and describe the shape of the file contents.  I've provided a cell with some comments in it to help get you started.

Pandas documentation for loading data https://pandas.pydata.org/pandas-docs/version/0.23.4/api.html#input-output

Pandas documentation for describing the shape of data https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.shape.html

In [1]:
import pandas as pd

# Load data using one of the read functions depending on your data file type
# data = pd.read_ ...

url = "https://health.data.ny.gov/api/views/sqk8-8a2h/rows.csv?accessType=DOWNLOAD"
data = pd.read_csv(url)

df = pd.DataFrame(data)
    
# Print out the row / column count
# data. ...

print("The row and column count of this data file is" + str(df.shape))

data

The row and column count of this data file is(10659, 10)

,Year,Month,County,2012 Census Population,Population 18+ Estimate,Registry Enrollments,% Eligible Population Enrolled,OPO,Location,Chart Month
0,2015,11,Albany,304204,236306,73949.0,31.29,Center for Donation and Transplant in New York,"(42.678066, -73.814233)",11 (Nov)
1,2015,11,Allegany,48946,38021,13096.0,34.44,UNYTS,"(42.226801, -78.020567)",11 (Nov)
2,2015,11,Bronx,1385108,1075952,155634.0,14.46,New York Organ Donor Network,"(40.85589, -73.868294)",11 (Nov)
3,2015,11,Broome,200600,155826,54088.0,34.71,Center for Donation and Transplant in New York,"(42.122015, -75.933191)",11 (Nov)
4,2015,11,Cattauragus,80317,62390,22278.0,35.71,UNYTS,"(42.224267, -78.606673)",11 (Nov)
...,...,...,...,...,...,...,...,...,...,...
10654,2020,2,Wayne,90670,71120,39184.0,55.10,Finger Lakes Donor Recovery Network,"(43.144336, -77.117995)",2 (Feb)
10655,2020,2,Westchester,980244,762765,299891.0,39.32,New York Organ Donor Network,"(41.039278, -73.805386)",2 (Feb)
10656,2020,2,Wyoming,40493,32830,17663.0,53.80,UNYTS,"(42.723641, -78.204473)",2 (Feb)
10657,2020,2,Yates,24955,19439,10144.0,52.18,Finger Lakes Donor Recovery Network,"(42.634338, -77.078311)",2 (Feb)
10658,2020,2,TOTAL NYS,19849399,15694902,6187648.0,39.42,NaN,NaN,2 (Feb)

---

### 32.1 HTML Basics

HTML is a form of which othere data format we've talked about:

> A) Binary
>
> B) eXtensible Markup Language
> 
> C) JavaScript Object Notation
>
> D) HL7 FHIR

In [ ]:
answer321 = "B"

### 32.2 Things in HTML

Which of the following is **not** a part of HTML:

> A) element
> 
> B) tag
>
> C) dictionary
>
> D) attribute

In [ ]:
answer322 = "C"

### 32.3 Parsing HTML in Python

Which of the following packages can be used to extract a table of data from HTML using Python (include all that apply in a list):

> A) lxml
> 
> B) BeautifulSoup
>
> C) Pandas 
>
> D) fuzzywuzzy

In [ ]:
answer323 = ["A","B"]